@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Kiwi+Maru&display=swap');

* {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Kiwi Maru', serif;
}

.default_color {
    color: #B49E71;
}

.hover_default_color {
    color: #e4c78e;
}

.default_bg_color {
    background-color: #B49E71;
}

.default_border_color {
    border-bottom: 1mm solid #B49E71;
}

.main_border_color {
    border: 1mm solid #B49E71;
}

.default_bg_color:hover {
    background-color: #ddc89f;
}

.top_background{
    background-image: url(/img/shizen.jpeg);
    background-size: cover;
}

.text-shadow {
    text-shadow: 2px 4px 6px #000000;
}

.secound_bg_color {
    background-color: #B49E71;
}

.box {
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/*1.フェードインアニメーションの指定*/
.scrollanime {opacity: 0;} /*一瞬表示されるのを防ぐ*/
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.scrollanime_top {opacity: 0;} /*一瞬表示されるのを防ぐ*/
.fadeInDown_top {
    animation-name: fadeInDown;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.downup_top {transform: translateY(100px);}

@keyframes fadeInDown {
    0% {
        opacity: 0;
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}

/*2.上下の動きを指定*/
.updown {transform: translateY(-100px);}
.downup {transform: translateY(100px);}

/*3.左右の動きを指定*/
.sect02{overflow: hidden;} /*横スクロールバーを隠す*/
.slide-right {transform: translateX(200px);}
.slide-left {transform: translateX(-200px);}

.pulse:hover,
.pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
    0% {
    box-shadow: 0 0 0 0 var(--hover);
    }
}


.close:hover,
.close:focus {
    box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.main_pink {
    background-color: #ff7f7f;
}

.main_pink:hover {
    background-color: #ff9e9e;
}

.main_purple {
    background-color: #bf7fff;
}

.main_purple:hover {
    background-color: #ce9eff;
}

.main_blue {
    background-color: #7fbfff;
}

.main_blue:hover {
    background-color: #9eceff;
}

.main_yellow {
    background-color: #ffd700;
}

.main_yellow:hover {
    background-color: #ffff9e;
}

.main_green {
    background-color: #7fffbf;
}

.main_green:hover {
    background-color: #bcffdd;
}

.main_orange {
    background-color: #ffbf7f;
}

.main_orange:hover {
    background-color: #ffd3a8;
}
